@font-face {
  font-family: FontGame;
  src: url(../assets/FontGame.ttf);
}

.header_game {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: Fontgame;
  /* background-position: bottom; */
}
